.Logementpart
  margin-left: 5%
  margin-right: 5%

  .titre
    display: flex
    justify-content: space-between

    .leftpart

      h2
        color: #ff6060
        font-size: 35px
        margin-bottom: 10px
        font-weight: 500

      p
        font-size: 20px
        margin: 0px
        font-weight: 400

    .rightpart
      margin-top: 20px
      display: flex

      .hostname
        color: #ff6060
        font-size: 25px
        margin-top: 0px

      .hostpicture
        margin-left: 20px
        height: 60px
        width: 60px
        border-radius: 30px

  .tagsrating
    display: flex
    justify-content: space-between

    .tags
      display: flex

      .tag
        justify-self: center
        border-radius: 10px
        margin-right: 20px
        padding: 2px 30px 2px 30px
        background-color: #ff6060
        color: white
        font-weight: 500
        font-size: 14px

    .rating
      img
        width: 30px
        height: 30px

  .descriptionequipement
    display: flex
    justify-content: space-between
    margin-bottom: 50px

    .description
      width: 48%

    .equipement
      width: 48%
